.c-clientSlider {
    $selfSlider: &;
    @include position(relative, 0);
    background-image: url("../images/bg/dots.png");
    background-size: cover;
    padding: 100px 0;

    .heading_wrapper {
        margin-bottom: 50px;

        @include mq("tablet-max") {
            margin-bottom: 85px;
        }
    }



    &__wrapper {
        @include position(relative, 0);

        .item {
            @include flexbox;
            @include justify-content(center);
        }

        &--list {
            @include border-radius(50%);
            // width: 130px;
            // height: 130px;
            background-color: var(--white);
            border: 1px solid var(--themeBorderSecondary);
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);

            @include mq("tablet-small") {
                width: 156px;
                height: 156px;
            }
            @include mq("desktop-wide") {
             
                height: 156px;
            }

            img {
                height: 80px;
            }
        }

    }

    @include mq("tablet-max") {
        padding: 93px 0px 135px 0px;
    }



    &.v3 {
        @include position(relative, 0);
        background-image: url("../images/bg/dots.png");
        background-size: cover;
        padding: 20px 0;

        #{$selfSlider} {
            &__wrapper {
                @include position(relative, 0);
                .item {
                    // @include flexbox;
                    // @include justify-content(center);
                    display: flex;
                    justify-content: center;
                    margin-right: 30px;
                    
                }
    
                &--list {
                    background-color: green;
                    border-radius: 15px !important;
                    width: 200px;
                    height: 200px;
                    background-color: var(--white);
                    border: 1px solid var(--themeBorderSecondary);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // @include flexbox;
                    // @include align-items(center);
                    // @include justify-content(center);
    
                    @include mq("tablet-small") {
                        width: 156px;
                        height: 156px;
                    }
    
                    img {
                        height: 80px;
                    }
                }
    
            }
        }

        
    }

}