.owl-carousel {
    &.v1{
        .owl-nav {
            position: relative;
            width: 100%;
            left: 0;
            bottom: 0;
            margin-top: 15px;
            text-align: center;
            @include align-items(center);

            @include mq("desktop") {
                margin-top: 0px;
                display: flex;
                @include justify-content(space-between);
                position: absolute;
                top: 50%;
                transform: translate(0%, -50%);

            }

            button.owl-next,
            button.owl-prev {
                width: 50px;
                height: 50px;
                @include border-radius(50%);
                border: 1px solid var(--grey2);
                //margin: 20px 10px 0;
                position: relative;
                color: var(--grey2);
            }

            button.owl-next {
               @include mq("desktop") {
                    right: -60px
                }
        }

            button.owl-prev {
                margin-right: 20px;

                @include mq("desktop") {
                    left: -60px
                }

            }

        }
   

    .owl-dots {
        margin-top: 20px;
        @include flexbox;
        @include justify-content(center);

        .owl-dot {
            background-color: var(--bg-transparent);
            border: 2px solid var(--themeBorderSecondary);
            width: 20px;
            height: 20px;
            margin: 0 5px;
            border-radius: 50%;

            &.active {
                background-color: var(--themeTertiary)
            }
        }
        &.disabled{
            display: none !important;
        }
    }

}
&.v2{
    .owl-dots{
        @include flexbox;
        justify-content: center;
        flex-direction: row;
        background-color: var(--grey6);
        border-top: 2px solid var(--grey9);
        padding-top: 5px;
        @include mq("tablet-max"){
            @include position(absolute, 0);
            left: 5px;
            top: 0;
            flex-direction: column;
            width: 60px;
            min-height: 100%;
            border-top: 0px solid var(--grey9);
            padding-top: 0px;
        }
        .owl-dot{
            @include mq("tablet"){
                margin-top: 0 !important;
            }
            
        }
    }
}
&.owl-number{
.owl-dots{
    counter-reset: dots;
   .owl-dot{
        display: block;
        font-size: $font18;
        color: var(--grey2);
        font-family: var(--fontFamilyRegular);
        flex: 1;
        &.active{
            color: var(--black);
            font-size: $font30;
            font-family: var(--fontFamilyBlack);
            //background-color: red;
        }
        
        
    }
}
} 
}